.jpn-font
{
    font-family: "KozGoPr6N-Regular", "小塚ゴシック Pr6N R", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.color-saturday
{
    color: rgb(130, 130, 255);
}

.color-sunday
{
    color: rgb(228, 156, 174);
}

.auto-horizontal-margin
{
    margin-left: auto;
    margin-right: auto;
}

.margin-top-small
{
    margin-top: 30px;
}

.margin-top-medium
{
    margin-top: 40px;
}

.margin-bottom-large
{
    margin-bottom: 60px;
}

.contents-width
{
    width: 750px;
}

.width-semi-full
{
    width: 80%;
}

.padding-bottom-large
{
    padding-bottom: 60px;
}

table.no-border-spacing
{
    border-spacing: 0;
}

tr.padding-right > td
{
    padding-right: 15px;
}

tr.padding-right-small > td
{
    padding-right: 10px;
}

tr.padding-top-small > td
{
    padding-top: 10px;
}

tr.padding-top-medium > td
{
    padding-top: 20px;
}

tr.padding-top-large > td
{
    padding-top: 40px;
}

tr.padding-bottom-small > td
{
    padding-bottom: 6px;
}

tr.padding-bottom-medium-large > td
{
    padding-bottom: 25px;
}

tr.padding-bottom-x-large > td
{
    padding-bottom: 40px;
}

.text-x-small
{
    font-size: 10px;
}

.text-small-medium
{
    font-size: 16px;
}

.text-large
{
    font-size: 30px;
}

.text-top
{
    vertical-align: top;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

td.label-column
{
    white-space: nowrap;
    padding-right: 10px;
}


/* Sub Menu */

div.staff-image
{
    background-image: url("images/200x200/staff.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/staff_hovered.jpg");
    }
}

div.store-interior-image
{
    background-image: url("images/200x200/storeInterior.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/storeInterior_hovered.jpg");
    }
}

div.dish-image
{
    background-image: url("images/200x200/dish.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/dish_hovered.jpg");
    }
}

div.magazine-image
{
    background-image: url("images/200x200/magazine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/magazine_hovered.jpg");
    }
}

div.daily-menu-image
{
    background-image: url("images/200x200/dailyMenu.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/dailyMenu_hovered.jpg");
    }
}

div.normal-menu-image
{
    background-image: url("images/200x200/normalMenu.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/normalMenu_hovered.jpg");
    }
}

div.a-la-carte-image
{
    background-image: url("images/200x200/aLaCarte.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/aLaCarte_hovered.jpg");
    }
}

div.course-image
{
    background-image: url("images/200x200/course.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/course_hovered.jpg");
    }

}

div.beer-image
{
    background-image: url("images/200x200/beer.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/beer_hovered.jpg");
    }
}

div.digestif-image
{
    background-image: url("images/200x200/digestif.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/digestif_hovered.jpg");
    }
}

div.sake-image
{
    background-image: url("images/200x200/sake.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/sake_hovered.jpg");
    }
}

div.shochu-image
{
    background-image: url("images/200x200/shochu.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/shochu_hovered.jpg");
    }
}

div.other-drinks-image
{
    background-image: url("images/200x200/otherDrinks.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/otherDrinks_hovered.jpg");
    }
}

div.glass-wine-image
{
    background-image: url("images/200x200/glassWine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/glassWine_hovered.jpg");
    }
}

div.sparkling-wine-image
{
    background-image: url("images/200x200/sparklingWine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/sparklingWine_hovered.jpg");
    }
}

div.white-wine-image
{
    background-image: url("images/200x200/whiteWine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/whiteWine_hovered.jpg");
    }
}

div.rose-wine-image
{
    background-image: url("images/200x200/roseWine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/roseWine_hovered.jpg");
    }
}

div.red-wine-image
{
    background-image: url("images/200x200/redWine.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/redWine_hovered.jpg");
    }
}

div.wine-list-image
{
    background-image: url("images/200x200/wineList.jpg");

    &:hover
    {
        border-color: rgb(224, 224, 224);
        color: black;
        background-image: url("images/200x200/wineList_hovered.jpg");
    }
}



/* ContactInfo.css */

iframe.contact-img
{
    width: 750px;
    height: 400px;
    overflow: hidden;
    border: 0;
}

.copyright
{
    font-style: italic;
    font-family: Helvetica, Arial, sans-serif;

    color: rgb(170, 170, 170);
}


/* BeerControl.css */

.gargery-link > img
{
    width: 55px;
    padding-left: 10px;
}


/* ProfileControl.css */

img.profile-image
{
    width: 160px;
}


/* PhotoControl.css */
a.thumbnail-img:hover
{
    opacity: 0.5;
}

a.thumbnail-img > img
{
    width: 135px;
    height: 135px;
}


/* RecommendedWineControl.css */
tr.general-wine-row
{
    height: 60px;

    > td
    {
        padding-bottom: 20px;
    }
}

td.flag-col
{
    padding-top: 5px;

    > img
    {
        width: 45px;
    }
}

.wine-name-col
{
    width: 600px;
}

.image--state-clickable
{
    cursor: pointer;
    border: none;
}

/* ImageSlideControl.css */
img.ad-image
{   
    position: relative;
    cursor: pointer;

    width: 284px;
    height: 200px;

    margin-left: 5px;
    margin-right: 5px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");

    &:hover
    {
        filter: none;
        -webkit-filter: grayscale(0%);
    }
}   

div#imgContainer
{   
    width: 750px;
    height: 240px;

    margin-left: auto;
    margin-right: auto;

    white-space:nowrap;
    overflow: hidden;
}   


/* RestaurantWineList.css */

object.pdf-container
{
    width: 750px;
    height: 600px;
    border: 1px solid rgb(224, 224, 224);
}

