/* Color */

.colorCadetBlue
{
    color: cadetblue;
}

.colorGoldenRod
{
    color: goldenrod;
}

.colorGreen
{
    color: green;
}

.colorOrange
{
    color: orange;
}

.colorPink
{
    color: pink;
}

.colorRed
{
    color: red;
}

.colorDarkRed
{
    color: darkred;
}

.colorYellow
{
    color: yellow;
}

.colorWhite
{
    color: white;
}



/* Background Color */

.bgBlack
{
    background-color: black;
}


/* Line */



/* Width */

.widthHalf
{
    width: 50%;
}


.widthFull
{
    width: 100%;
}


/* Margin */


.lMarginZero
{
    margin-left: 0;
    margin-right: auto;
}

.rMarginZero
{
    margin-right: 0;
    margin-left: auto;
}

tr.marginTopLarge > td
{
    margin-top: 40px;
}


/* Text */

.textXXSmall
{
    font-size: 8px;
}

.textMediumLarge
{
    font-size: 25px;
}
.textXLarge
{
    font-size: 60px;
}



.textMiddle
{
    vertical-align: middle;
}

.textBottom
{
    vertical-align: bottom;
}

.textNoWrap
{
    white-space: nowrap;
}

.textShadow
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.textItalic
{
    font-style: italic;
}

.textBold
{
    font-weight: bold;
}

.textDeleted
{
    text-decoration: line-through;
}

.textUnderline
{
    text-decoration: underline;
}

.textSpacedSmall
{
    letter-spacing: 3px;
}


/* Paragraph */

.lineHeightSmall
{
    line-height: 14px;
}

.lineHeightSmallMedium
{
    line-height: 16px;
}


/* Grayscale Image */

.desaturate
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.desaturate:hover
{
    filter: none;
    -webkit-filter: grayscale(0%);
}


/* Table Padding */


tr.paddingTopSmallMedium > td
{
    padding-top: 13px;
}



tr.paddingTopXLarge > td
{
    padding-top: 60px;
}

tr.paddingLeftXSmall > td
{
    padding-left: 5px;
}

tr.paddingLeftSmall > td
{
    padding-left: 10px;
}

tr.paddingRightXSmall > td
{
    padding-right: 5px;
}


tr.paddingRightMedium > td
{
    padding-right: 15px;
}

tr.paddingBottom > td
{
    padding-bottom: 10px;
}


tr.paddingBottomMedium > td
{
    padding-bottom: 15px;
}




/* Margin */

.marginBottomSmall
{
    margin-bottom: 10px;
}

