AuthUserFile "C:/AppServ/Apache2.2/pwd/pwds"
AuthGroupFile "C:/AppServ/Apache2.2/pwd/groups"
AuthName "Wine Management of Mitsu-Getsu Web site"
AuthType Basic

<Limit GET POST>
require group mitsugetsu_admin
</Limit>

