<?php

if (!isset($emailErrors))
{
    $emailErrors = array();
}

require_once('./includes/config.inc.php');
require_once('./includes/form_functions.inc.php');

echo BOX_BEGIN;

echo '
<span class="engFont" style="font-size:15px;">Reset Password</span>&nbsp;/&nbsp;<span style="font-size:10px;">' . $pageTitle . '</span>
<hr class="lineThin" />
<p>
    お客様のご登録されたメールアドレスを入力してください。
</p>
<br />
<form action="./forgot_password.php" method="POST">';

if (array_key_exists('login', $emailErrors))
{
    echo '<div style="color:red;">' . $emailErrors['login'] . '</div>';
}

echo '<span class="jpnFont"><strong>Eメール</strong></span><br />';

create_form_input('email', 'text', '', $emailErrors, 'POST');

echo '
    <br style="clear:all;" />
    <br style="clear:all;" />
    <div>
        <input type="submit" value="リセット" style="font-size:10px;padding:5px 10px 5px 10px;border:solid 1px rgb(222,222,222);background-color:lavender;cursor:pointer;" class="engFont" />
        <br /><br />
        <p style="color:red;font-weight:bold;">
            [リセット]&nbsp;ボタンをクリックすると、パスワードのリセット方法がメールで送信されます。<br />
            メールが届かない場合は、迷惑メールと間違えられている可能性がございますので、迷惑メールフォルダやゴミ箱をご確認頂きますようお願い致します。
        </p>
    </div>
</form>
<br />
<a href="http://anyway-grapes.jp/store/" class="jpnFont">オンラインストアに戻る</a>
';

echo BOX_END;

?>
