<?php

echo BOX_BEGIN;

echo '
    <span class="engFont" style="font-size:15px;">Reset Password</span>&nbsp;/&nbsp;<span style="font-size:10px;">' . $pageTitle . '</span>
    <hr class="lineThin" />
';

if (empty($errorMsg))
{
    require_once('./includes/form_functions.inc.php');

    echo '
    <p>
        下記のフォームを利用して、新しいパスワードを設定してください。
    </p>
    <br />
    <form action="./reset_password.php" method="POST">';

    echo '
        <table class="cartTable" style="width:100%">
            <tr>
                <td class="labelCol">パスワード</td>
                <td class="inputCol">';

    create_form_input('pwd', 'password', '', $pwdErrors, 'POST');

    echo '
                </td>
            </tr>
            <tr>
                <td class="labelCol">パスワードの確認</td>
                <td class="inputCol">';

    create_form_input('confirmation_pwd', 'password', '', $pwdErrors, 'POST');

    echo '
                </td>
            </tr>
            <tr>
                <td colspan="2" style="color:blue;text-align:left;">※パスワードは、半角数字(1-9)、半角英字の大文字(A-Z)、および半角英字の小文字(a-z)をそれぞれ1文字以上含む合計６文字以上の文字列を入力してください。<br />例）aAbB1234</td>
            </tr>
        </table>
        <br style="clear:all;" />
        <div align="center">
            <input type="submit" value="リセット" style="font-size:10px;padding:2px 10px 2px 10px;" class="engFont" />
        </div>
    </form>
';
}
else
{
    echo "<p>$errorMsg</p>";
}

echo '
    <br />
    <a href="http://anyway-grapes.jp/store/" class="jpnFont">オンラインストアに戻る</a>
';

echo BOX_END;

?>
